/cache/
.*.swp
*.pyc
/mail_db/easy_ham/
/mail_db/easy_ham_2/
/mail_db/hard_ham/
/mail_db/spam/
/mail_db/spam_2/
/mail_db/all_ham.txt
/mail_db/all_spam.txt
/mail_db/test_ham.txt
/mail_db/test_spam.txt
/mail_db/train_ham.txt
/mail_db/train_spam.txt
/doc/paper.pdf
/doc/paper.rst.build_temp
/doc/coverpage.rst.build_temp
/doc/slideshow.pdf
/doc/slideshow.rst.build_temp
